<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Warn"
      autoReload="true">
    <extensions>
        <add assembly="NLog.Targets.OpenTelemetryProtocol"/>
    </extensions>

    <variable name="KafkaBrokers" value="localhost:9092" />

    <targets>
		<target xsi:type="OtlpTarget"
				name="otlp"
                resources="process=${processname};pid=${processid};tid=${threadid};path=C:/Apps"
                layout="${message}">
			
		</target>



    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="otlp" />
    </rules>
</nlog>
