<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		throwConfigExceptions="true"
		internalLogLevel="Debug"
		internalLogToConsole="true">

	<extensions>
		<add assembly="NLog.Targets.OpenTelemetryProtocol"/>
	</extensions>

	<targets>
		<target xsi:type="OtlpTarget"
			name="otlp"
			usehttp="true"
			servicename="TestService"
			scheduledDelayMilliseconds="1000"
			useDefaultResources="false"
			includeFormattedMessage="false">
			<attribute name="thread.id" layout="${threadid}" />
			<resource name="process.name" layout="${processname}" />
			<resource name="process.id" layout="${processid}" />
			<resource name="deployment.environment" layout="DEV" />
		</target>
	</targets>

	<rules>

		<logger name="*" writeTo="otlp" />
	</rules>
</nlog>